@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
/*.btn-estop {*/
/*    background-color: #b22222; !* Example red from your branding *!*/
/*    color: white;*/
/*    border-radius: 50px;*/
/*    padding: 15px 30px;*/
/*    text-transform: uppercase;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.btn-estop:hover {*/
/*    background-color: #8b0000; !* Darker shade on hover *!*/
/*}*/
/*.btn-estop {*/
/*    background-color: #b22222; !* Example red from your branding *!*/
/*    color: white;*/
/*    border-radius: 50px;*/
/*    padding: 15px 30px;*/
/*    text-transform: uppercase;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*.btn-estop:hover {*/
/*    background-color: #8b0000; !* Darker shade on hover *!*/
/*}*/
div.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #212529 !important;
}
a.fw-bold.navbar-brand{
    background-color: transparent !important;
}
a.fw-bold.px-5.py-3.Text-uppercase.size-lg.rounded-pill.shadow.btn.btn-danger.border-0{
    background-color: #dc3445 !important;
}
a.fw-bold.text-uppercase.rounded-pill.danger-button.btn.btn-danger.border-0{
    background-color: #dc3445 !important;
}
a.text-decoration-none.text-info.fw-semibold.ms-1 {
    color: #dc3445 !important;
    font-weight: 700 !important;
    font-family: "Overpass", sans-serif;
}
/*a, nav, div.bg-light {*/
/*    background-color: #cfcfcf !important;*/
/*}*/

div.bg-light {
    background-color: #cfcfcf !important;
}

div.py-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

img.img-fluid.w-full {
    width: 100%;
    height: auto;
}

i.bi.bi-shield-check {
    color: #dc3445 !important;
    height: 36px !important;
    width: 36px !important;
    text-align: center !important;
}

i.bi.bi-geo-alt {
    color: #dc3445 !important;
    height: 36px !important;
    width: 36px !important;
    text-align: center !important;
}

i.bi.bi-award.bi-award {
    color: #dc3445 !important;
    height: 36px !important;
    width: 36px !important;
    text-align: center !important;
}

div.mb-3.text-danger {
    text-align: center !important;
    font-family: "Overpass", sans-serif !important;
}

p.text-white-50 {
    --bs-text-opacity: 1;
    color: rgba(252, 252, 252, 1) !important;
}
span.badge.bg-secondary.align-self-start.mb-2{
    background-color: rgb(5 10 44) !important;
}
/*div.h-100.border-0.shadow.p-4.bg-dark.text-white.rounded-5.position-relative.card{*/
/*background-color: inherit !important;*/
/*}*/
::marker {
    display: none !important;
}
p.lead.mb-5.text-secondary {
    color: rgb(5 10 44) !important;
    font-size: 1.125rem !important;
    font-weight: 500 !important;
    font-family: "Overpass", sans-serif !important;
}
p.lead.text-muted.max-w-2xl {
    font-style: normal !important;
    font-weight: 399 !important;
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}
p.small.text-secondary {
    color: #cecece !important;
    font-family: "Overpass", sans-serif !important;
}
a.text-danger {
    color: rgb(220 52 69) !important;
    font-family: "Overpass", sans-serif !important;
    font-size: inherit !important;
    font-spacing: normal !important;
    font-weight: bold !important;
}
span.text-danger {
    font-family: "Overpass", sans-serif !important;
    font-size: inherit !important;
    font-spacing: normal !important;
    font-weight: bold !important;
}
a.text-secondary {
    color: #dc3445 !important;
    font-family: "Overpass", sans-serif !important;
    font-size: inherit !important;
    font-spacing: normal !important;
    font-weight: bold !important;
}

a.fw-bold.tracking-wide.text-uppercase.navbar-brand{
    font-family: "Overpass", sans-serif !important;
    font-size: inherit !important;
    font-spacing: normal !important;
    font-weight: bold !important;

}
/*div.card-body.d-flex.flex-column {*/
/*    background-color: inherit !important;*/
/*}*/

a.text-secondary {
    color: #dc3445 !important;
    font-family: "Overpass", sans-serif !important;
}
ul.list-unstyled.text-start.mb-5.flex-grow-1.px-3{
    font-family: "Overpass", sans-serif !important;
    font-weight: normal !important;
    font-spacing: normal !important;
    font-tracking: normal !important;
}
/*ul.list-unstyled.small.text-secondary {*/
/*    color: #cecece !important;*/
/*    font-family: "Overpass", sans-serif !important;*/
/*}*/

span.text-danger {
    color: #dc3445 !important;
    margin: 0 .75rem 0 0 !important;
    font-family: "Overpass", sans-serif !important;
}

p.x-small.text-secondary.mb-0 {
    color: #cecece !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}

h1.display-3.fw-bold.mb-3 {
    font-size: calc(1.2rem + 3vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}

h1.display-4.fw-bold.mb-4 {
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}

h1.display-3.fw-bold.mb-3 {
    font-size: calc(1.2rem + 3vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}

h1.display-4 {
    color: #050a2c !important;
    font-weight: 500 !important;;
    font-size: calc(1.475rem + 2.7vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}

h2.display-4 {
    color: #fff !important;
    font-weight: 600 !important;
    margin: 0;
    padding: 1.5rem 0 !important;
    font-size: calc(.95rem + 2.15vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}
h4.text-red-500.font-bold.uppercase.mb-3.text-sm.tracking-widest {
    color: #050a2c;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}

p.mt-3.font-bold.text-end {
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}

p.italic.mb-0 {
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}

div.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #050a2c !important;
    letter-spacing: normal !important;
}

div.col-12.text-center {
    max-width: 100% !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
    font-weight: normal !important;
}

p.x-small.text-secondary.mb-0 {
    color: #cecece !important;
    font-size: 0.735em;
    font-family: "Overpass", sans-serif !important;
}

h1.display-4.fw-bold {
    color: inherit !important;
    font-weight: 700 !important;
    margin: 0 1rem 0 1rem !important;
    font-size: calc(1.25rem + 2.5vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
}
h2.display-4.fw-bold {
    color: #fff !important;
    font-weight: 600 !important;
    padding: 1.5rem !important;
    font-size: calc(1rem + 2.15vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal;
}

h1.display-4.w-bold.mb-3.text-uppercase{
    font-family: "Overpass", sans-serif !important;
    color: rgb(5 10 44) !important;
}

h2.display-4.fw-bold {
    color: #fff !important;
    font-weight: 600 !important;
    padding: 1.5rem !important;
    font-size: calc(1rem + 2.15vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal;
}

button.btn.btn-danger.btn-lg.fw-bold {
    color: #fff !important;
    font-weight: 700 !important;
    margin: 0 !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal;
    /*box-shadow: 1px 1px 2px #10103c, 0 0 1em #10103c, 0 0 0.2em #10103c;*/
}

iframe.iframe {
    width: 100%;
    height: 725px !important;
    /*background-color: lightgrey !important;*/
}

button.btn.btn-lg.fw-bold.rounded-pill.py-3.text-uppercase.btn-dark {
    color: rgb(220 52 69) !important;
    font-family: "Overpass", sans-serif !important;
    /*button.btn.btn-lg.w-100.fw-bold.rounded-pill.py-3.text-uppercase.btn-warning{*/
    /*    color:rgba(220, 52, 69, 1) !important;*/
    /*}*/
}
button.btn-danger.btn-danger-sm.py-4.rounded-pill.btn-dark {
    color: #fff;
    --bs-btn-bg: #050a2c;
    --bs-btn-border-color: #050a2c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #050a2c;
    --bs-btn-hover-border-color: #050a2c;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(5 10 44);
    --bs-btn-disabled-border-color: rgb(5 10 44);
    --bs-btn-disabled-opacity: 0.65;
}
a.btn.btn-sm.btn-outline-secondary mb-4span.badge.bg-secondary.align-self-start.mb-2{
    --bs-bg-opacity: 1;
    background-color: #347ddc !important;
}
button.btn.btn-lg.fw-bold.rounded-pill.py-3.text-uppercase.btn-dark {
    color: rgb(220 52 69) !important;
    font-family: "Overpass", sans-serif !important;
}

button.btn.btn-lg.w-100.fw-bold.rounded-pill.py-3.text-uppercase.btn-dark {
    color: rgb(220 52 69) !important;
    font-family: "Overpass", sans-serif !important;
}
div.card-body.d-flex.flex-column {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color:inherit !important;
}

/*button.btn.btn-lg.w-100.fw-bold.rounded-pill.py-3.text-uppercase.btn-dark {*/
/*    color: rgb(220 52 69) !important;*/
/*    font-family: "Overpass", sans-serif !important;*/
/*}*/
button.btn.btn-lg.fw-bold.rounded-pill.py-3.text-uppercase.btn-dark {
    color: rgb(220 52 69) !important;
    font-family: "Overpass", sans-serif !important;
}

p.mt-3.font-bold.text-end {
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
}

.bg-warning {
    --bs-bg-opacity: 1;
    background-color: rgb(255 179 15) !important;
}

p.lead.mb-5.text-secondary {
    color: #050a2c !important;
    font-size: 1.125rem !important;
    font-weight: 500;
    font-family: "Overpass", sans-serif !important;
}

h1.display-4.mb-4 {
    color: #050a2c !important;
    text-align: left !important;
    font-size: calc(2rem + 1.5vw) !important;
    font-family: "Overpass", sans-serif !important;
}

h1.display-3.mb-3 {
    text-align: left;
    font-weight: 250 !important;
    font-family: "Overpass", sans-serif !important;
}
/*h1.display-3.home1.mb-3 {*/
/*    text-align: left;*/
/*    font-weight: 250 !important;*/
/*    font-family: "Overpass", sans-serif !important;*/
/*}*/
h1.display-3.mb-3 {
    text-align: left;
    font-weight: 250 !important;
    font-family: "Overpass", sans-serif !important;
}

div.my-5.container {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-family: "Overpass", sans-serif !important;
}

p.lead.text-muted.max-w-2xl {
    font-style: normal !important;
    font-weight: 200 !important;
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;

}

p.lead.text-muted.max-w-2xl {
    font-style: normal !important;
    font-weight: 399 !important;
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
}

p.x-small.text-secondary.mb-0 {
    color: #050a2c !important;
    font-size: 1.15rem;
    font-family: "Overpass", sans-serif !important;
}

div.text-center.p-5.bg-light.rounded.shadow-sm {
    background-color: #ffffff !important;
    font-family: "Overpass", sans-serif !important;
}

h5.fw-bold.text-uppercase.tracking-widest.small {
    font-size: 1.15rem !important;
    text-align: center !important;
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
    font-weight: 600 !important;
}
a.fw-bold.tracking-wide.text-uppercase.navbar-brand{
    font-size: 1.25rem !important;
    font-family: "Overpass", sans-serif !important;
    font-weight: bold !important;
}
h5.text-uppercase.fw-bold.mb-3 {
    font-size: 1.15rem !important;
    text-align: left !important;
    color: inherit !important;
    font-family: "Overpass", sans-serif !important;
    font-weight: 600 !important;
}
div.text-uppercase {
    text-transform: uppercase !important;
    font-family: "Overpass", sans-serif !important;
}

h1.display-3.fw-bold.mb-3 {
    font-size: calc(1.25rem + 3vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
    font-weight: 600 !important;
}

p.text-muted.mb-4 {
    color: #050a2c !important;
    font-size: 1.15rem !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
    font-weight: normal !important;
}

p.text-muted {
    color: #050a2c !important;
    font-size: 1.25rem !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
    font-weight: normal !important;
}

p.text-muted.mb-4 {
    color: #050a2c !important;
    font-size: 1.05rem !important;
    font-family: "Overpass", sans-serif !important;
}

h6.text-uppercase.fw-bold.mb-4.tracking-widest {
    font-size: 1.5rem !important;
    color: #dc3445 !important;
    font-family: "Overpass", sans-serif !important;
    font-tracking: normal !important;
    font-weight: bold !important;
    font-spacing: normal !important;
}

span.display-5.fw-black {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: #dc3445 !important;
    font-family: "Overpass", sans-serif !important;
}

h5.fw-bold.text-uppercase.tracking-widest.small {
    font-size: 1.15rem !important;
    text-align: center !important;
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
}

p.text-muted.small {
    font-size: 0.875rem !important;
    text-align: center !important;
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
}

p.text-muted.small {
    font-size: .95rem !important;
    text-align: center !important;
    color: #050a2c !important;
    font-family: "Overpass", sans-serif !important;
}

p.x-small.text-secondary.mb-0 {
    color: #cecece !important;
    font-size: 0.735em !important;
    font-family: "Overpass", sans-serif !important;
}

h1.display-3.fw-bold.mb-3 {
    font-size: calc(1.25rem + 3vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
    font-weight: 600 !important;
}

h1.display-4 {
    color: rgb(255 255 255) !important;
    font-weight: 500 !important;
    font-size: calc(1.475rem + 2.7vw) !important;
    font-family: "Overpass", sans-serif !important;
}

p.text-muted.mb-4 {
    color: #050a2c !important;
    font-size: 1.15rem !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal !important;
    font-weight: normal !important;
}

label.form-label.fw-bold {
    margin-bottom: .5rem;
    text-align: left !important;
    font-family: "Overpass", sans-serif !important;
}

h2.display-5.fw-bold.mb-4 {
    font-family: "Overpass", sans-serif !important;
    font-weight: 600 !important;
    font-size: calc(1.145rem + 2.1vw) !important;
    letter-spacing: normal !important;
}

h2.display-4.fw-bold {
    font-family: "Overpass", sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
    font-size: calc(1.145rem + 2.1vw) !important;
}

h2.display-4.fw-bold {
    color: #050a2c !important;
    font-weight: 600 !important;
    padding: 1.5rem !important;
    font-size: calc(1rem + 2.15vw) !important;
    font-family: "Overpass", sans-serif !important;
    letter-spacing: normal;
}

div.py-8 {
    padding: 2rem 2rem !important;
    font-family: "Overpass", sans-serif !important;
}

footer.bg-dark.text-light.pt-5.pb-3.mt-auto {
    background-color: #050a2c !important;
}

@media (min-width: 1200px) {
    div.display-3 {
        font-size: 2.75rem;
        font-family: "Overpass", sans-serif !important;
    }

    div.display-4 {
        font-size: calc(3rem + 2.15vw) !important;
        font-family: "Overpass", sans-serif !important;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 25%;
        font-family: "Overpass", sans-serif !important;
    }
}

